.header__container {
    display: flex;
    flex-direction: column;

    .header__container--top,
    .header__container--bot {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .header__container--brandname {
            display: flex;
            flex-direction: column;

            .brandname__top,
            .brandname__bot {
                display: flex;
                flex-direction: row;

                .brandname__top--joystick,
                .brandname__top--title,
                .brandname__bot--hook {
                    margin: 10px;
                }

                .brandname__bot--hook {
                    margin-top: -10px;

                }

            }
        }

        .header__container--burger {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px;
            margin-right: 12px;
        }
    }



    .header__container--searchfield {
        width: 300px;


        .field-search {
            width: -webkit-fill-available;
            height: 30px;
            border-radius: 5px;
            transition: 300ms ease-in-out;


            &:focus-visible {
                height: 35px;
                font-size: 1.2rem;
                transition: 300ms ease-in-out;
                border-color: $cream;
            }
        }
    }

    .header__container--zoom {
        margin-left: -35px;

        & img {
            height: 25px;
            padding: 4px;
        }
    }

}

@media screen and (min-width : 744px) {

    body {
        background-color: red;
    }


    .header__container {
        flex-direction: row;

        .header__container--top {
            .header__container--burger {
                display: none;
            }

            .header__container--brandname {
                .brandname__top {

                    & img {
                        height: 20px;
                    }
                }

                .brandname__bot {
                    .brandname__bot--hook {

                        & img {
                            height: 8px;
                            width: 176px;
                        }
                    }
                }
            }
        }

        .header__container--searchfield {
            width: 200px;
            margin-top: auto;
            margin-bottom: auto;

            .field-search {
                width: auto;
            }
        }

        .header__container--zoom {
            margin-top: auto;
            margin-bottom: auto;

        }


        .header__container--menu {
            display: flex;
            flex-direction: row;
            align-items: center;


            .menu__ul {
                display: flex;
                flex-direction: row;
                align-items: center;

                .menu__icon {
                    & img {
                        width: 30px;
                        height: 30px;
                    }
                }


            }


        }


    }

}