.profilarrow {

    .down {
        transition: 100ms ease-in-out;
        rotate: 180deg;
    }
}

.submenu__container {
    height: 90px;

    .menu__ul {
        position: fixed;
        top: -50px;
        width: 100%;
        z-index: -1;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &.active {
            top: 98px;
        }

    }

}

.menu__ul--profil {
    position: relative;
    z-index: -2;
    top: -200px;

    &.active {
        top: 98px;
    }

    .menu__icon p {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid $cream;
    }

}


@media screen and (min-width:744px) {
    
.menu__ul--profil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &.active {
        top: 55px;
    }

    .menu__icon p {
        border-bottom: 0;
    }

}












}