body {
    min-width: 390px;
    color: $cream;
}

p {
    color: $cream;
    font-family: Inter;
    font-size: 16px;
    font-weight: 200;
}
.black-bg {
    background-color: $black;
}
.white-bg {
    background-color: $white;
}


