@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}



    $black: #222222 ;
    $white: #EEEEEE ;
    $bluedark: #2400ff;
    $cream: #FBF4A1 ;
    $cream-alpha: #fbf3a163 ;

    // button linear gradient color
    $golden: #a79300;
    $whiteFF: #FFFFFF;
    $rust: #b87700;

    
