@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

    $black: #222222 ;
    $white: #EEEEEE ;
    $cream: #FBF4A1 ;
    $cream-alpha: #fbf3a163 ;
