/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 390px;
}

.black-bg {
  background-color: #222222;
}

.white-bg {
  background-color: #EEEEEE;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__container .header__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__container .header__container--top .header__container--brandname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__container .header__container--top .header__container--brandname .brandname__top,
.header__container .header__container--top .header__container--brandname .brandname__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__container .header__container--top .header__container--brandname .brandname__top .brandname__top--joystick,
.header__container .header__container--top .header__container--brandname .brandname__top .brandname__top--title,
.header__container .header__container--top .header__container--brandname .brandname__top .brandname__bot--hook,
.header__container .header__container--top .header__container--brandname .brandname__bot .brandname__top--joystick,
.header__container .header__container--top .header__container--brandname .brandname__bot .brandname__top--title,
.header__container .header__container--top .header__container--brandname .brandname__bot .brandname__bot--hook {
  margin: 10px;
}
.header__container .header__container--top .header__container--brandname .brandname__top .brandname__bot--hook,
.header__container .header__container--top .header__container--brandname .brandname__bot .brandname__bot--hook {
  margin-top: -10px;
}
.header__container .header__container--top .header__container--burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  margin-right: 12px;
}
.header__container .header__container--bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}
.header__container .header__container--bot .header__container--searchfield .field-search {
  height: 30px;
  width: 345px;
  border-radius: 5px;
  margin-left: -10px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.header__container .header__container--bot .header__container--searchfield .field-search:focus-visible {
  height: 40px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  font-size: 1.2em;
}
.header__container .header__container--bot .header__container--zoom {
  height: 30px;
  margin-left: -35px;
}/*# sourceMappingURL=index.css.map */